/* line 4, ../../app/stylesheets/base.sass */
body {
  font-family: Arial; }

/* line 24, ../../app/stylesheets/base.sass */
body {
  margin: 20px; }

/* line 27, ../../app/stylesheets/base.sass */
p {
  color: #222222; }
