/* line 19, ../../app/stylesheets/base.sass */
body {
  margin: 20px; }

/* line 22, ../../app/stylesheets/base.sass */
p {
  color: #222222; }

/* line 3, ../../app/stylesheets/plain.sass */
body {
  font-family: Arial; }

/* line 10, ../../app/stylesheets/plain.sass */
.basic_info_box h3 {
  background-color: #75b270;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  color: white;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border: 2px solid #64a15f;
  border-bottom-color: #8fd28c; }
/* line 19, ../../app/stylesheets/plain.sass */
.basic_info_box .main {
  background-color: #aaf2a9;
  padding: 5px 10px;
  border: 2px solid #99e198;
  border-top: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }

/* line 27, ../../app/stylesheets/plain.sass */
ol#top_nav_menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  margin: 5px 0px; }
  /* line 5, ../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  ol#top_nav_menu {
    display: block; }
  /* line 50, ../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  ol#top_nav_menu li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    ol#top_nav_menu li.first {
      padding-left: 0px; }
    /* line 42, ../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    ol#top_nav_menu li.last {
      padding-right: 0px; }
  /* line 30, ../../app/stylesheets/plain.sass */
  ol#top_nav_menu li {
    background-color: #f8eedb; }
    /* line 32, ../../app/stylesheets/plain.sass */
    ol#top_nav_menu li::after {
      content: " \00BB"; }
